<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>eClass Home</title>
</head>
<body>
    <header class="header">
        Welcome, select from the 10 rooms below.
    </header>
    <main class="main-test">
        <div class="test-group">
            <a href="1"><div class="test">Admin 1</div></a>
            <a href="2"><div class="test">Admin 2</div></a>
        </div>
        <div class="test-group">
            <a href="3"><div class="test">Room 1</div></a>
            <a href="4"><div class="test">Room 2</div></a>
            <a href="5"><div class="test">Room 3</div></a>
            <a href="6"><div class="test">Room 4</div></a>
        </div>
        <div class="test-group">
            <a href="7"><div class="test">Test mobile</div></a>
            <a href="8"><div class="test">Test pc</div></a>
            <a href="9"><div class="test">Test :)</div></a>
            <a href="10"><div class="test">Random</div></a>
        </div>
    </main>
</body>
</html>